* {
	border: none;
	box-shadow: none;
	text-shadow: none;
	font-feature-settings: "tnum";
}

.widget {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	padding: 0 8px;
}

.left .widget {
	margin-right: 8px;
}

.center .widget {
	margin: 0 4px;
}

.right .widget {
	margin-left: 8px;
}

.window {
	border-radius: 8px;
}

.bar {
	background: transparent;
}

button {
	background: transparent;
	color: #fff;
	border: 0;
	outline: 0;
}

/* Battery */
.battery {
	background: green;
}
